 .inputForm {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .msgInput {
    border: none;
    border-radius: 8px;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  .msgInput:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .send {
    transition-duration: 300ms;
    text-transform: uppercase;
    text-decoration: none;
    background: #D3D3D3;
    border-radius: 50%;
    margin: auto 20px;
    display: inline-block;
    border: none;
    width: 8vh;
    height: 8vh;
  }

  .large{
    width: 70%;
    height: 70%;
  }

  .eff:hover{
    color: #fff !important;
    background: #465EFC;
  }